<a href="https://colab.research.google.com/github/earo12/Retail-Price-Optimization/blob/main/Retail_Price_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('retail_price.csv')
df.head(10)

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.900000,3.9,15.011897,215.000000,4.4,8.760000,45.950000,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.900000,3.9,14.769216,209.000000,4.4,21.322000,45.950000,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.900000,3.9,13.993833,205.000000,4.4,22.195932,45.950000,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.900000,3.9,14.656757,199.509804,4.4,19.412885,45.950000,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.900000,3.9,18.776522,163.398710,4.4,24.324687,45.950000,4.0,15.100000,45.950000
5,bed1,bed_bath_table,01-10-2017,3,137.85,15.100000,45.950000,39,161,2,...,89.900000,3.9,21.572143,45.950000,4.0,15.100000,45.950000,4.0,15.100000,45.950000
6,bed1,bed_bath_table,01-11-2017,11,445.85,15.832727,40.531818,39,161,2,...,89.900000,3.9,16.294000,40.531818,4.0,15.832727,40.531818,4.0,15.832727,45.950000
7,bed1,bed_bath_table,01-12-2017,6,239.94,15.230000,39.990000,39,161,2,...,88.488235,3.9,18.898333,39.990000,4.0,15.230000,39.990000,4.0,15.230000,40.531818
8,bed1,bed_bath_table,01-01-2018,19,759.81,16.533684,39.990000,39,161,2,...,86.900000,3.9,19.383529,39.990000,4.0,16.533684,39.990000,4.0,16.533684,39.990000
9,bed1,bed_bath_table,01-02-2018,18,719.82,13.749444,39.990000,39,161,2,...,86.900000,3.9,19.209091,39.990000,4.0,13.749444,39.990000,4.0,13.749444,39.990000

Let's check the information about the dataframe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

Let's check if this dataframe has null values:

In [9]:
df.isnull().sum()

product_id                    0
product_category_name         0
month_year                    0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

Since the column "product_id" doesn't have an important meaning during the development of the model, I won't use it anymore:

In [13]:
df.drop('product_id',axis = 1 ,inplace = True)

In [14]:
df.columns

Index(['product_category_name', 'month_year', 'qty', 'total_price',
       'freight_price', 'unit_price', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'holiday', 'month',
       'year', 's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2',
       'comp_3', 'ps3', 'fp3', 'lag_price'],
      dtype='object')

Before of all, I'll check which are the highest price and the lowest price products of the dataframe

In [17]:
lowest = df.sort_values(by = 'total_price', ascending = False)
highest = df.sort_values(by = 'total_price', ascending = True)
print(f'Dataframe in descending order: {lowest}')
print('#------------------------------------#')
print(f'Dataframe in ascending order: {highest}')

Dataframe in descending order:      product_category_name  month_year  qty  total_price  freight_price  \
673         bed_bath_table  01-07-2017   59      12095.0      22.195932
277          watches_gifts  01-05-2018  114      11820.2       0.095439
674         bed_bath_table  01-08-2017   52      10375.0      19.412885
175  computers_accessories  01-02-2018   69      10343.1      26.552899
549          health_beauty  01-08-2018   28       9240.0      20.505357
..                     ...         ...  ...          ...            ...
468        furniture_decor  01-08-2018    1         35.0      19.440000
336         consoles_games  01-02-2018    1         32.5      11.850000
623          health_beauty  01-10-2017    1         29.9      11.850000
281             cool_stuff  01-09-2017    1         29.5      11.730000
329         consoles_games  01-07-2017    1         19.9      11.850000

     unit_price  product_name_lenght  product_description_lenght  \
673  205.000000                   56                         162
277  103.792523                   33                         523
674  199.509804                   56                         162
175  149.900000                   48                         894
549  330.000000                   60                        2644
..          ...                  ...                         ...
468   35.000000                   41                         789
336   32.500000                   56                         237
623   29.900000                   55                         388
281   29.500000                   57                         787
329   19.900000                   56                         237

     product_photos_qty  product_weight_g  ...      comp_1  ps1        fp1  \
673                   5              9750  ...   89.900000  3.9  13.993833
277                   3               584  ...  103.792523  4.2   0.095439
674                   5              9750  ...   89.900000  3.9  14.656757
175                   1               533  ...  149.000000  4.2  41.163226
549                   6               400  ...   23.990000  4.3  16.770000
..                  ...               ...  ...         ...  ...        ...
468                   1               950  ...  103.233333  4.1  22.300000
336                   3               100  ...   32.500000  4.2  15.256000
623                   1               250  ...   23.990000  4.3  13.136667
281                   8              1867  ...   99.990000  4.2  15.933333
329                   3               100  ...   19.900000  4.2  13.473077

         comp_2  ps2        fp2      comp_3  ps3        fp3   lag_price
673  205.000000  4.4  22.195932   45.950000  4.0  14.840000  209.000000
277  105.000000  4.2  11.377297  132.531250  3.8  15.762187  105.648625
674  199.509804  4.4  19.412885   45.950000  4.0  14.287500  205.000000
175  149.900000  4.3  26.552899   78.712281  3.5  14.535915  150.354546
549   82.821429  4.1  12.418571   58.990000  3.9  12.083333  330.000000
..          ...  ...        ...         ...  ...        ...         ...
468   35.000000  3.7  15.628125   83.833333  4.4  23.776667   34.950000
336   32.500000  3.9  11.850000   32.500000  3.9  11.850000   27.033333
623   89.990000  4.1  16.562917   58.990000  3.9  19.065263   29.850000
281   29.500000  4.4  11.730000   29.500000  4.4  11.730000   29.450000
329   19.900000  3.9  11.850000   19.900000  3.9  11.850000   19.850000

[676 rows x 29 columns]
#------------------------------------#
Dataframe in ascending order:      product_category_name  month_year  qty  total_price  freight_price  \
329         consoles_games  01-07-2017    1         19.9      11.850000
281             cool_stuff  01-09-2017    1         29.5      11.730000
623          health_beauty  01-10-2017    1         29.9      11.850000
336         consoles_games  01-02-2018    1         32.5      11.850000
468        furniture_decor  01-08-2018    1         35.0      19.440000
..                     ...         ...  ...          ...            ...
549          health_beauty  01-08-2018   28       9240.0      20.505357
175  computers_accessories  01-02-2018   69      10343.1      26.552899
674         bed_bath_table  01-08-2017   52      10375.0      19.412885
277          watches_gifts  01-05-2018  114      11820.2       0.095439
673         bed_bath_table  01-07-2017   59      12095.0      22.195932

     unit_price  product_name_lenght  product_description_lenght  \
329   19.900000                   56                         237
281   29.500000                   57                         787
623   29.900000                   55                         388
336   32.500000                   56                         237
468   35.000000                   41                         789
..          ...                  ...                         ...
549  330.000000                   60                        2644
175  149.900000                   48                         894
674  199.509804                   56                         162
277  103.792523                   33                         523
673  205.000000                   56                         162

     product_photos_qty  product_weight_g  ...      comp_1  ps1        fp1  \
329                   3               100  ...   19.900000  4.2  13.473077
281                   8              1867  ...   99.990000  4.2  15.933333
623                   1               250  ...   23.990000  4.3  13.136667
336                   3               100  ...   32.500000  4.2  15.256000
468                   1               950  ...  103.233333  4.1  22.300000
..                  ...               ...  ...         ...  ...        ...
549                   6               400  ...   23.990000  4.3  16.770000
175                   1               533  ...  149.000000  4.2  41.163226
674                   5              9750  ...   89.900000  3.9  14.656757
277                   3               584  ...  103.792523  4.2   0.095439
673                   5              9750  ...   89.900000  3.9  13.993833

         comp_2  ps2        fp2      comp_3  ps3        fp3   lag_price
329   19.900000  3.9  11.850000   19.900000  3.9  11.850000   19.850000
281   29.500000  4.4  11.730000   29.500000  4.4  11.730000   29.450000
623   89.990000  4.1  16.562917   58.990000  3.9  19.065263   29.850000
336   32.500000  3.9  11.850000   32.500000  3.9  11.850000   27.033333
468   35.000000  3.7  15.628125   83.833333  4.4  23.776667   34.950000
..          ...  ...        ...         ...  ...        ...         ...
549   82.821429  4.1  12.418571   58.990000  3.9  12.083333  330.000000
175  149.900000  4.3  26.552899   78.712281  3.5  14.535915  150.354546
674  199.509804  4.4  19.412885   45.950000  4.0  14.287500  205.000000
277  105.000000  4.2  11.377297  132.531250  3.8  15.762187  105.648625
673  205.000000  4.4  22.195932   45.950000  4.0  14.840000  209.000000

[676 rows x 29 columns]